@using Humanizer
@using SonOfRadArrNotifications.Common
@using SonOfRadArrNotifications.Radarr.Payloads
@using SonOfRadArrNotifications.Radarr.Payloads.Models


<h2>Movie File Deleted! (@Payload.DeleteReason.FriendlyName())</h2>
<table style="@CssUtils.TableStyle">
    <tr style="@CssUtils.TableRowStyle">
        <td>
            @{
                var posterImage = Payload.Movie.Images.FirstOrDefault(i => i.CoverType == RadarrMediaCoverTypes.Poster);
                if (posterImage != null)
                {
                    <img src="@posterImage.RemoteUrl" alt="poster" style="@CssUtils.PosterImageStyle"/>
                }
            }
        </td>
        <td style="@CssUtils.SecondColumnStyle">
            <h2>@Payload.Movie.Title (@Payload.Movie.Year)</h2>
            <p>@Payload.Movie.Overview</p>
            @{
                var genres = string.Join(", ", Payload.Movie.Genres);
                <p style="@CssUtils.MovieGenresStyle">@genres</p>
            }
            <p>@Payload.Movie.ReleaseDate</p>
            <p>@Payload.MovieFile.Size.Bytes().Humanize()</p>
            @{
                if (Payload.MovieFile.DateAdded != null)
                {
                    <p>Originally added on @Payload.MovieFile.DateAdded.Value.ToShortDateString()</p>
                }
            }
            
        </td>
    </tr>
</table>

@code {
    
    [Parameter]
    public required RadarrMovieFileDeletePayload Payload { get; set; }
}